form input:nth-child(1){
    margin-top: 2.5em;
}

.auth:hover{
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-decoration: underline;
}



.auth a{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}