.edit-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-data img:nth-child(1) {
  margin-top: 3rem;
  width: 150px;
  object-fit: cover;
}

.edit-data img:nth-child(2) {
  max-width: 30px;
  margin-bottom: 1rem;
  margin-top: 5px;
  cursor: pointer;
}

.edit-data .btn {
  margin-bottom: 2rem;
  margin-top: 1rem;
}