.edit-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-data img:nth-child(1) {
  margin-top: 3rem;
  width: 150px;
  object-fit: cover;
}

.edit-data img:nth-child(2) {
  max-width: 30px;
  margin-bottom: 1rem;
  margin-top: 5px;
  cursor: pointer;
}

.edit-data .btn {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

#select-Iam{
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  padding: 0.2em 0.7em;
  margin-bottom: 1.5em;
  margin-top: 0.8em;
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  outline: none;
}

#select-Iam option:not(:disabled){
  color: #000;
}