nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #000;
}

form{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

form div{
    position: relative;
    /* border: 1px solid red; */
    /* padding-bottom: 2rem;  
    background-color: #E0E0E0; ---> Adicionar essas propriedades quando o . inp-search estiver focado(focus)
    border-radius: 5px; */
}

.inp-search{
    all: unset;
    display: block;
    background-color: #E0E0E0;
    border-radius: 50px;
    margin: 0 auto;
    width: 15rem;
    height: 2.5rem;
    font-family: inherit;
    transition: .5s;
    padding: 0 1.5rem;
    padding-top: .6rem;
    word-break: break-all;
    box-sizing: border-box;
}

.inp-search::placeholder{
    text-align: center;
}

.inp-search:focus{
    width: 25rem;
}

.search-icon{
    position: absolute;
    left: 25px;
    top: 8px;
}

.attachment-search{
    display: none;
    position: absolute;
    width: 20px;
    left: 1rem;
    bottom: 10px;
    cursor: pointer;
}

.pesq{
    display: none;
    border: 0;
    width: 15rem; 
    height: 2.5rem; 
    border-radius: 5px; 
    padding-bottom: 0;
    padding-left: 20px; 
    background-color: #E0E0E0;
    border-radius: 5px;
    transition: .5s; 
}

.pesq::placeholder{
    text-align: center;
}

.pesq:focus{
    width: 25rem; 
    height: 10.5rem; 
    border-radius: 5px; 
    padding-bottom: 8rem;
    padding-left: 20px; 
    background-color: #E0E0E0;
    border-radius: 5px;
    font-family: inherit;
    transition: .5s;  
}

#bott{
    width: 63px;
    float: right;
    position: fixed;
    right: 2.5%;
    top: 87%;
    border: 0;
}

#bott img{
    width: 100%;
}
